@import url("./header.css");

.container {
    /* padding-top: 50%; */
}

.slider {
    /* padding-top: 30%; */
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.home_img{
    height: 65vh;
    width: 100vw;
}